:root {
    --bg-white: #ffffff;
    --input-fill: #E0E0E0; 
    --btn-black: #000000;
    --accent-green: #39FF14;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body, html {
    height: 100%;
    font-family: 'Inter', -apple-system, sans-serif;
    background-color: var(--bg-white);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.mobile-container {
    max-width: 430px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: env(safe-area-inset-top, 20px) 50px env(safe-area-inset-bottom, 30px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 60px;
}

.logo { font-weight: 900; font-size: 1rem; letter-spacing: 0.2px; }

.back-btn { 
    text-decoration: none; 
    color: #000; 
    font-size: 1.5rem; 
    font-weight: 800; 
    cursor: pointer;
    z-index: 999;
}

.auth-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    width: 100%;
    margin-top: -15%; 
}

.text-group {
    margin-bottom: 40px;
    width: 100%;
}

.main-title {
    font-size: 1.85rem; 
    font-weight: 800;
    letter-spacing: -0.8px;
    text-align: left;
    line-height: 1.2;
}

.sub-text {
    font-size: 0.85rem;
    font-weight: 600;
    color: #333;
    margin-top: 8px;
}

.auth-form { width: 100%; }

.pin-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 40px;
    width: 100%;
}

.pin-container input {
    width: 70px;
    height: 70px;
    border-radius: 18px;
    border: 1px solid #000;
    background-color: var(--input-fill);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    outline: none;
    color: #000000; 
}

.primary-btn {
    width: 100%;
    padding: 16px;
    background-color: var(--btn-black);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.auth-footer {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    font-size: 0.85rem;
    font-weight: 400;
}

.accent-link {
    color: var(--accent-green);
    text-decoration: none;
    font-weight: 700;
}